*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #222;

}
.container h1{
color: bisque;
text-align: center ;

}
.container{
    margin-top: 70px;
    width: 100vw;
    height: 100vh;
    border: white solid white;
}
.cGrid{
    
height: 800px;
width: 800px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: .8em;
    
   

}
.cGrid div{z-index: 900;
    border: white solid white;
}