<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
      integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <!-- nunito font -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- box icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://fonts.cdnfonts.com/css/varino" rel="stylesheet" />
    <!-- varino font -->
  </head>
<body>
  <div  id="blur">
    <div class="header">
      <h1 style="opacity: 0" class="text">Encryptify</h1>

      <a href="https://github.com/ArgyPorgy/SIH1365"
        ><i class="bx bxl-github"></i>
      </a>

      <div id="right">
        <!-- <a href="#" onclick="toggle()"> Register </a> -->
        <a id="login" href="/templates/login.html">Login</a>
        <a href="#"> About us </a>
      </div>
    </div>
    <div class="sub">
      <div class="exp">
        <h2>REGISTRATION</h2>
        <br>
        <P>Dear Guest,</P>
        <p>Welcome to the sole website where you can have the most valid certificates offered by the Indian Government. Both users and official organizations, for the initials, register your credentials in the registration form below.</p>
        <br>
        <div class="centre">
          <button onclick="toggle()" class="buton">Register</button>
        </div>
      </div>
    </div>
    <section>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          <i
            class="fa fa-american-sign-language-interpreting"
            aria-hidden="true"
          ></i>
          <i class="fa fa-university" aria-hidden="true"></i>
          <i class="fa fa-battery-full" aria-hidden="true"></i>
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <i class="fa fa-window-close" aria-hidden="true"></i>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
          <i class="fa fa-cc" aria-hidden="true"></i>
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <i class="fa-solid fa-user-secret"></i>
          <i class="fa fa-download" aria-hidden="true"></i>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
        </div>
      </div>
    </section>
  </div>

    <!-- the registration form -->
    <div class="regist" id="popup">
      <div class="box">
        <div class="close">
          <button class="x" type="menu" onclick="toggle()">X</button>
        </div>
        <div class="btn">
          <div id="design"></div>
            <button type="button" class="swap" onclick="user()"> User</button>
            <button type="button" class="swap" onclick="office()"> Officials</button>
        </div>

        <form method='POST' enctype="multipart/form-data" id="user" class="input">
          {{ form.hidden_tag() }}
          <input type="hidden" name="user_form" value="1">
          {{ form.username.label }} {{ form.username(class="field", placeholder="ENTER YOUR NAME") }}
          {{ form.aadhar.label }} {{ form.aadhar(class="field", placeholder="ENTER YOUR AADHAR NUMBER") }}
          {{ form.user_metawallet.label }} {{ form.user_metawallet(class="field", placeholder="ENTER METAMASK WALLET ID") }}
          {{ form.password.label }} {{ form.password(class="field", placeholder="ENTER PASSWORD") }}
          <div class="centre" id="s_btn">
            <button type="submit" class="buton">SUBMIT</button>
          </div>
      </form>
      
      <form method='POST' enctype="multipart/form-data" id="official" class="input">
          {{ form.hidden_tag() }}
          <input type="hidden" name="org_form" value="1">
          {{ form.orgname.label }}{{ form.orgname(class="field", placeholder="ENTER ORGANIZATION NAME") }}
          {{ form.orgtype.label }}{{ form.orgtype(class="field", placeholder="ENTER TYPE OF ORGANIZATION") }}
          {{ form.org_metawallet.label }}{{ form.org_metawallet(class="field", placeholder="ENTER METAMASK WALLET ID") }}
          <div class="centre" id="s_btn">
            <button type="submit" class="buton">SUBMIT</button>
          </div>
      </form>
      
        </form>
        
      </div>
      
    </div>

    <source src="/src/main.js" />
  <script type="text/javascript">
        function toggle(){
        var blur = document.getElementById('blur');
        blur.classList.toggle('active')
        var popup=document.getElementById('popup');
        popup.classList.toggle('active');
      }
      var x=document.getElementById('user');
      var y=document.getElementById('official');
      var z=document.getElementById('design');
      function user(){
        console.log("Switched to user form");
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0";
      }
      function office(){
        console.log("Switched to official form");
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";
      }
    const item = document.querySelector(".text");
      item.style.transition = "all 2s ease";

      window.onload = setTimeout(() => {
        item.style.opacity = 1;
      }, 2000);
    </script>
  </body>
</html>
